body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.clock-log {
}
.cloak-qr {
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 2rem;
  margin: 3rem 0 2rem 0;
}

button {
  color: #fff;
  min-width: 425px;
  background-color: #4285f4 !important;
  padding: 1rem 2.4rem;
  font-size: 1rem;
  outline: none;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.withdraw-input {
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 30rem;
  text-align: center;
}
.tabs {
  max-width: 800px;
  margin-top: 4rem;
}
.tabs-nav {
  display: flex;
  margin: 0;
  list-style-type: none;
  min-width: 500px;

  li {
    position: relative;
    float: left;
    cursor: pointer;
    width: 25%;
  }

  .active {
    background-color: #fff;
    border: 1px solid transparent;
    border-color: #dee2e6 #dee2e6 #fff;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin-bottom: -1px;

    a {
      color: #495057;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: white;
      bottom: -1px;
      z-index: 2;
    }
  }
}

a {
  color: #0087cc;
  display: block;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}
a:hover {
  color: #ff7b29;
}
.tab-active a {
  background: #fff;
  border-bottom-color: transparent;
  color: #2db34a;
  cursor: default;
}
.tabs-stage {
  min-width: 800px;
  border: 1px solid #cecfd5;
  border-radius: 0 0 6px 6px;
  clear: both;
  padding: 24px 30px;
  position: relative;
}
.tabs-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0;
    margin-bottom: 0.5rem;
  }
}
